 /* Bordered form */
 form {
    border: 3px solid #f1f1f1;
    max-width: 30%;
    min-width: 200px;
    margin: 0 auto;
    float: left;
    font-family: sans-serif;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button[type=submit]{
    font-size: medium;
  }

  #signup-form{
    display: none;
  }

  #backgroundImage{
    opacity: 875%; 
    z-index: -1; 
    height: 450px; 
    width: 750px; 
    top: 18%; 
    right: 0px; 
    position: absolute;
  }

  #header{
    font-size: 300%; 
    color: black; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  }

  #clock {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #clock_img {
    position: fixed;
    top: 18px;
    right: 117px;
    vertical-align: middle;
    height: 30px;
    width: 30px;
  }

  /* Set a style for all buttons */
  button {
    background-color: #379b6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  #toggle-button{
    font-size: medium; 
    float: left; 
    border-radius: 0%; 
    max-width: 30.3%;
    min-width: 200px;
    text-align: center;
  }

  #signupButton{
    font-size: medium; 
    background-color:#4ca2ce ;
}

  .centered-button {
    width: 20%;
    margin: 0, auto; 
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    height: 125px; 
    width: 125px;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    position: relative;
  }

  .spacer {
    height: 75px;
}
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  } 